@media only screen and (max-width: 768px) {
}

header {
  margin: 20px 20px 20px 20px;
  padding-top: 10px;
  max-width: 768px;
}
header img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  margin: 20px 20px 20px 40px;
}

.launch {
  max-width: 1020px;
  font-family: "Inter", sans-serif;
  color: #ff3998;
  display: flex;
  align-items: left;
  justify-content: center;
  padding-bottom: 60px;
}

img {
  max-width: 200%;
}

.image {
  flex-basis: 100%;
}

.text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  align-items: flex-start;
}

h1 {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 89px;
  line-height: 58px;
}

h2 {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

p {
  display: block;
  color: #555555;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.button {
  border-radius: 50%;
  border-color: darkorange;
  background-color: white;
  padding: 48px 48px 48px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.free {
  display: block;
  block-size: 500px;
  max-width: 50%;
  height: 600px;
  background-image: url("background.svg");
  display: block;
  padding-bottom: 120px;
}

.press {
  display: inline-block;
  flex-direction: row;
  flex: wrap;
  justify-content: space-evenly;
  max-width: 768px;
  max-height: 200px;
}

.container {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.5em;
  box-sizing: border-box;
  height: auto;
  overflow-y: hidden;
}

.container img {
  float: right;
  white-space: normal;
  padding: 0.2em;
  vertical-align: middle;
}
